body {
  font-family: 'VT323', monospace;
  color: green;
  background-color: black;
}

h1, h2 {
  font-family: 'Press Start 2P', cursive;
  padding-top: 20px;
}

p {
  font-size: 1.8em;
}

#results {
  display: none;
  height: 500px;
  margin: 10%;
  padding-left: 20px;
  overflow-y:scroll;
  border: 1px green solid;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: green;
}
